@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@mixin customButton {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: $logo-color;
    color: $p-color;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid $logo-color;
    border-radius: 5px;
    transition-duration: 0.5s;
    &:hover {
      color: white;
      background-color:black;
      mix-blend-mode: screen;
      border: 3px solid $logo-color;
      padding: 12px 17px;
    }
  }
  @mixin plan{
        margin:20px 50px;
        padding:20px;

        width:70%;
        color:$p-color;

        border:3px solid $plan-color;
        border-radius: 7px;
        background-color:  	$plan-color;
        ul{
            padding:10px 10px;
            li{
                padding-top:8px;
            }
            button{
                @include customButton();
            }
            h3{
                color:$logo-color;
            }
        }
  }
  @mixin planpc{
    .price{
        margin:10px 5px;
        font-size:25px;
        text-align: left;
    }
    h3{
        text-align: center;
        font-size:30px;
    }
    width:30%;
  }
  @mixin backgroundsettings{
    background-size: cover;
    background-repeat: no-repeat;
  }
  @mixin flexpropertys{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
$logo-color: #e67816;
$p-color:#c8c7c7;
$plan-color:#28282B;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    body{
        font-family: 'Nunito', sans-serif;
    }
}
#mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $plan-color;
    transition: transform 0.3s ease-out;
    transform: translateX(100%); /* Start with menu hidden off-screen */
    
    h1 {
      color: $logo-color;
      padding-top: 30px;
      padding-left: 50px;
      font-size: 50px;
      font-weight: bolder;
    }
    
    ul {
      img {
        width: 85px;
        margin: -75px 30px;
        float: right;
      }
      
      li {
        margin-top:40px;
        padding-top:30px;
        padding-bottom: 30px;
        text-align: center;
        list-style-type: none;
        
        a {
          color: white;
          text-decoration: none;
          font-size: 30px;
          font-weight: bold;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .open {
    right: 0 !important; /* Show menu by moving it to the right */
  }
/* For normal */
nav{
    
    ul{
        .line{
            display: inline;
            padding:10px 5px;
            border-left: 3px solid whitesmoke;
        }
        #responsive{
            float:right;
        }
        img{
            width:105px;
        }
        li{
            display:none;
            float:right;
            padding:15px 0px;
            margin-top:25px;
            a{
                font-weight: bold;
                color:whitesmoke;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
#video{
    width: 100vw;
    height: 100vh;
    /* Makes it stays in place so it doesnt bug when scrolling */
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; /* Puts it begind the text */
}
.start{
    margin-top:250px;
    text-align: center;
    h1{
        font-size: 60px;
        color:$logo-color;
        padding:10px 0px;
    }
    h3{
        color:whitesmoke;
        font-size: 30px;
        letter-spacing: 1px;
    }
    margin-bottom:-80px;
}

#overlay{
    background-image: url('/images/background.jpg');
    @include backgroundsettings();
    h1{
        text-align: center;
        margin-top:500px;
        padding:30px 10px;
        color:white;
        margin-bottom:50px;
    }
.services{

    display: flex;
    flex-direction: column;

    @include flexpropertys();
    .parentmob{
        margin:10px 0px;
        background-color: $logo-color;
        border:0.4rem solid  #9a4e0a;
        border-radius: 10px;
        width:75%;
    }
    img{
        margin:30px 0px;
        padding:0px 15px;
        width:80px;
    }
    p{
        color:white;
        margin:10px;
    }
}
.statistic{
    margin-top:70px;
    .text{
        margin-top:50px;
        margin-left:15px;
        margin-right:15px;
        text-align: center;
        i{
            font-size:70px;
            color:$logo-color;
        }
        h3{
            color:$p-color;
        }
        p{
            margin-top:20px;
            color:$p-color;
        }
        padding-bottom: 150px;
    }

}
#team{
    color:$logo-color;
    text-align: center;
    font-size: 50px;
    margin-top:300px;
    margin-bottom: 70px;
}
.ourteam{
    display:flex;
    flex-direction: column;
    @include flexpropertys();
    .opis{
        width:70%;
        h5{
            color:$logo-color;
            font-size: 30px;
        }
        p{
            color:$p-color;
        }
        text-align: center;
    }
    .circle{
        width: 200px;
        height: 200px;
        border: 5px solid $plan-color;
        border-radius: 50%;
        overflow: hidden;
        margin:30px 0px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
    } 
}
#visit{
    margin-top:50px;
    font-size:60px;
    color:$logo-color;
}
.visitus{
    iframe{
        border: 5px solid;
        border-radius: 20px;
    }
    display:flex;
    @include flexpropertys();
}
.startnow{
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) );
    padding:150px 0px;
    h2{
        color:whitesmoke;
        text-align: center;
        margin:30px 50px;
        p{
            color:$logo-color;
            font-weight: bold;
        }
    }
    img{
        display:none;
    }
    a{
        text-decoration: none;
    }
}
h2{
    padding:20px 25px;
    text-transform: capitalize;
    color:$logo-color;
    text-align: center;
}
button{
    margin:0 auto;
    display:block;

    margin-top:30px;
    padding: 10px 20px;

    background-color: $logo-color;
    color: $p-color;
    font-size: 16px;
    font-weight: bold;
    
    border:3px solid $logo-color;
    border-radius: 5px;
    transition-duration: 0.5s;
    &:hover{
        color:white;
        background-image: url('/images/background2.jpg');
        mix-blend-mode: screen;
        border:3px solid $logo-color;
        padding:12px 22px;
    }
}
}

footer{
    background-color: #1c1d1d;
    #sub{
        color:$p-color;
        text-align: center;
        padding:20px 0px;
        font-size:30px;
    }
.news{
    display:block;
    @include flexpropertys();
      .input-email {
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #f2f2f2;
        color: #333;
        font-size: 16px;
        width: 300px;
        
        &::placeholder {
          color: #999;
        }
        
        &:focus {
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }
    button{
        @include customButton();
    }
}
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/background2.jpg');
    @include backgroundsettings();
}
.overlay2{
    @include backgroundsettings();
    h1{
        padding-top:50px;
        text-align: center;
        color:$logo-color;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 50px ;
    }
        .plans{
            padding-bottom: 200px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    .plan1{
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/slika1.png');
        @include backgroundsettings();
        @include plan();
    }
    .plan2{
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/slika2.png');
        @include backgroundsettings();
        @include plan();
    }
    .plan3{
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/slika3.png');
        @include backgroundsettings();
        @include plan();
    }
}



/* Scaling for Larger devices */
@media (min-width: 768px) {
    /* It displays the menu for larger devices and hides for mobile ones */
    nav{
        ul{
            img{
                width:120px;
            }
            #responsive{
                display:none;
            }
            li{
                
                display:inline;
                a{
                    padding:0px 25px;
                    font-size: 22px;;
                }
            }
        }
    }


    .start{
        h1{
            font-size:75px;
        }
        h3{
            font-size:45px;
        }
    }
    #overlay{
        .services{
            flex-direction: row;
            .parentmob{
                margin-left: 30px;
                margin-right:30px;
                width:20%;
            }
        }
        .statistic{
            margin-top:200px;
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            .text{
                padding:40px 0px;
                width:60%;
                margin: auto;
            }
        }
        #visit{
            margin-top:250px;
        }
        .ourteam{
            
            margin:0px 50px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .opis{
                width:20%;
            }
        }
        .startnow{
            padding:200px 0px;
            .join{
                text-align: left;
            }
        }
    }
    .overlay2{
        h1{
            padding-top: 150px;
        }
        .plans{
            display:flex;
            flex-direction: row;
            padding:200px 0px;
        }
        .plan1{
            @include planpc();
        }
        .plan2{
            @include planpc();
        }
        .plan3{
            @include planpc();
        }
    }
}